# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo SINASC_RO_2019.csv` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo `estrutura_sinasc_para_CD.pdf` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
`
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis `['ESTCIVMAE', 'CONSULTAS']` possuem o código `9`, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código `9`.<br>
6. Substitua os valores faltantes da quantitativa (`QTDFILVIVO`) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção `inplace = True`.

In [2]:
import pandas as pd
import numpy as np
import requests

colunas = ['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']

# 1) seu código aqui
df_sinasc = pd.read_csv('SINASC_RO_2019.csv', usecols=colunas)
#print(sinasc.shape)

qtde_unicos = df_sinasc.drop_duplicates().shape[0]
# Não há duplicados

print(df_sinasc.shape)

print(qtde_unicos)

(27028, 9)
10058

In [3]:
df_sinasc.head(5)

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0

In [4]:
df_sinasc.dtypes

LOCNASC         int64
IDADEMAE        int64
ESTCIVMAE     float64
ESCMAE         object
QTDFILVIVO    float64
GESTACAO       object
GRAVIDEZ       object
CONSULTAS       int64
APGAR5        float64
dtype: object

In [5]:
# 2) seu código aqui
missing = df_sinasc.isna().sum().sum()

print(f'Existe um total de {missing} valores missing no dataframe')

Existe um total de 3616 valores missing no dataframe

In [6]:
# 3) seu código aqui

#Criei uma variável chamada colunas e usei o usecols dentro do pd.read_csv para importar somente o que vou trabalhar na tarefa

In [7]:
# 4) seu código aqui

df_sinasc['APGAR5']

0        10.0
1         9.0
2        10.0
3        10.0
4        10.0
         ...
27023     9.0
27024     9.0
27025    10.0
27026     9.0
27027     8.0
Name: APGAR5, Length: 27028, dtype: float64

In [8]:
apgar_na = df_sinasc['APGAR5'].isna().sum().sum()

print(f'Temos um total de {apgar_na} missing na coluna APGAR5')

Temos um total de 103 missing na coluna APGAR5

In [9]:
# Como a pontuação do APGAR5 vai de 0 a 10, preferir excluir as informações faltantes ao invês de substituí-las por 0, pela média ou mediana, pois entendo que isto enviesará o resultado final.

del_na_apgar5 = df_sinasc = df_sinasc.dropna(subset=['APGAR5'])

df_sinasc['APGAR5']

0        10.0
1         9.0
2        10.0
3        10.0
4        10.0
         ...
27023     9.0
27024     9.0
27025    10.0
27026     9.0
27027     8.0
Name: APGAR5, Length: 26925, dtype: float64

In [10]:
# 5) seu código aqui

estcvimae = df_sinasc['ESTCIVMAE'].sum()

consultas = df_sinasc['CONSULTAS'].sum()

estcvimae_9 = (df_sinasc['ESTCIVMAE'] == 9).sum()

consultas_9 = (df_sinasc['CONSULTAS'] == 9).sum()

print(f'A coluna ESTCIVMAE possui {estcvimae} registros, sendo {estcvimae_9} iguais a 9 e portanto inválidos, já a coluna CONSULTAS possui {consultas} registros, sendo {consultas_9} iguais a 9 e portanto inválidos')

A coluna ESTCIVMAE possui 67715.0 registros, sendo 144 iguais a 9 e portanto inválidos, já a coluna CONSULTAS possui 96359 registros, sendo 50 iguais a 9 e portanto inválidos

In [12]:
# 6) Seu código aqui

qtdfil = df_sinasc['QTDFILVIVO'].sum()

qtdfil_na = df_sinasc['QTDFILVIVO'].isna().sum().sum()

print(f'A quantidade de valores na coluna QTDFILVIVO é de {qtdfil}, já a quantidade de valores faltantes é {qtdfil_na}, estes serão substituídos por zero')

A quantidade de valores na coluna QTDFILVIVO é de 26645.0, já a quantidade de valores faltantes é 1566, estes serão substituídos por zero

In [13]:
qtdfil_sem_na = df_sinasc['QTDFILVIVO'].fillna(0, inplace=True)

qtdfil_0 = (df_sinasc['QTDFILVIVO'] == 0).sum()

print(qtdfil_0)

10871

C:\Users\solam\AppData\Local\Temp\ipykernel_22916\1878880117.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  qtdfil_sem_na = df_sinasc['QTDFILVIVO'].fillna(0, inplace=True)

In [16]:
# 7) seu código aqui

qtd_gravidez = df_sinasc['GRAVIDEZ'].count()

qtd_gravidez_na = df_sinasc['GRAVIDEZ'].isna().sum().sum()

print(f'A quantidade de valores na coluna QTDFILVIVO é de {qtd_gravidez}, já a quantidade de valores faltantes é {qtd_gravidez_na}, estes serão substituídos por zero')

A quantidade de valores na coluna QTDFILVIVO é de 26849, já a quantidade de valores faltantes é 76, estes serão substituídos por zero

In [17]:
qtd_gravidez_sem_na = df_sinasc['GRAVIDEZ'].fillna(0, inplace=True)

qtd_gravidez_0 = (df_sinasc['GRAVIDEZ'] == 0).sum()

print(qtd_gravidez_na)

76

In [ ]:
# 8) seu código aqui

df_sinasc['CLASSIFICAÇÃO APGAR'] = np.where(
    df_sinasc['APGAR5'] < 3, 'asfixia severa',
    np.where(df_sinasc['APGAR5'] < 5, 'asfixia moderada',
             np.where(df_sinasc['APGAR5'] < 7, 'asfixia leve',
                      np.where(df_sinasc['APGAR5'] <= 10, 'normal', 'Não Classificado')))
)

df_sinasc.head(10)

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5,CLASSIFICAÇÃO APGAR
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
5,1,33,5.0,1 a 3 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
6,1,37,1.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
7,1,27,2.0,12 anos ou mais,0.0,37 a 41 semanas,Única,4,10.0,normal
8,1,20,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,3,9.0,normal
9,1,30,2.0,1 a 3 anos,1.0,37 a 41 semanas,Única,4,10.0,normal

In [ ]:
frequencias = df_sinasc['CLASSIFICAÇÃO APGAR'].value_counts()
print(frequencias)

CLASSIFICAÇÃO APGAR
normal              26704
asfixia leve          124
asfixia severa         59
asfixia moderada       38
Name: count, dtype: int64

In [ ]:
# 9) seu código aqui

df_sinasc.columns = df_sinasc.columns.str.lower().str.replace(' ','_')

df_sinasc

,locnasc,idademae,estcivmae,escmae,qtdfilvivo,gestacao,gravidez,consultas,apgar5,classificação_apgar
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
...,...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0,normal
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0,normal
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0,normal
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0,normal

In [ ]:
df_sinasc.to_excel('Sinasc.xlsx')